@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  body {
    @apply antialiased bg-white text-slate-900 font-sans;
  }
  a { @apply text-brand-600 hover:text-brand-700; }
}

/* Utilities for containers */
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}
